
.container{
    max-width: 768px;
}

.btn-block{
    display: inline-block !important;
    
}

#form-control{
    width: 100%;
}

h1{
    background: var(--bs-primary);
    margin-bottom: 0;
    color: #eee;
    font-size: 28px;
    border-radius: 5px 5px 0 0;
    padding: 5px 0;
}

form{
    border: 1px solid var(--bs-primary);
    padding: 15px 10px;
    border-radius: 0 0 5px 5px;
}

td:first-child, td:last-child{
    text-align: center;
    cursor: pointer;
}  

.message{
    display: inline-block;
    padding: 5px 20px;
    position: relative;
    top: 10px;
    margin: 0 20px;
    /* transition: all 0.3s; */
}

.message>*+*{
    margin: 0 5px;
    padding: 0 5px;
    border-left: 1px solid #eee;
}

.danger{
    background: var(--bs-danger);
}

.success{
    background: var(--bs-success);
}

.warning{
    background: var(--bs-warning);
}

